.bootstrap-card-component .container-600 {
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .bootstrap-card-component .container-600 {
    max-width: 100%;
  }
}

.bootstrap-card-component .container-600 .card-container {
  background-color: #ffffff;
  border-radius: 15px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 290px;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

.bootstrap-card-component .container-600 .card-container .container-grid .width-100 {
  width: 100%;
  padding: 20px;
}

.bootstrap-card-component .container-600 .card-container .container-grid .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

.bootstrap-card-component .container-600 .card-container .container-grid ul.list-group {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-top: 1px solid var(--bs-list-group-border-color);
}

.bootstrap-card-component .container-600 .card-container .container-grid .list-group-item {
  padding: 20px;
  border-radius: 15px;
  border: none;
}

.bootstrap-card-component .container-600 .card-container .container-grid .list-group-item .nav-link {
  color: #343a40;
  padding: 0;
}

.bootstrap-card-component .container-600 .card-container .container-grid .list-group-item .nav-link.active {
  color: #6f42c1;
  font-weight: 600;
}

.bootstrap-card-component .container-600 .card-container .container-grid .tab-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#6f42c1), to(#0d6efd));
  background: linear-gradient(to right, #6f42c1, #0d6efd);
  border-radius: 15px;
  padding: 10px;
}

.bootstrap-card-component .container-600 .card-container .container-grid .col-pic-box {
  height: 100%;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .bootstrap-card-component .container-600 .card-container .container-grid .col-pic-box {
    height: 200px;
  }
}

.bootstrap-card-component .container-600 .card-container .container-grid .col-pic-box .tab-pane {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-right-radius: 15px;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

@media only screen and (max-width: 768px) {
  .bootstrap-card-component .container-600 .card-container .container-grid .col-pic-box .tab-pane {
    border-bottom-left-radius: 15px;
  }
}

.bootstrap-card-component .container-600 .card-container .container-grid .col-pic-box .tab-pane.fade {
  opacity: 0;
  z-index: 1;
}

.bootstrap-card-component .container-600 .card-container .container-grid .col-pic-box .tab-pane.active {
  z-index: 2;
  opacity: 1;
}

.bootstrap-card-component .container-600 .card-container .container-grid .col-pic-box #tab-first-item {
  background-color: #6f42c1;
}

.bootstrap-card-component .container-600 .card-container .container-grid .col-pic-box #tab-second-item {
  background-color: #0d6efd;
}

.bootstrap-card-component .container-600 .card-container .container-grid .col-pic-box #tab-third-item {
  background-color: #000000;
}

.bootstrap-card-component .container-600 .card-container .container-grid .col-pic-box .pic-box {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
}

.bootstrap-card-component .container-600 .card-container .container-grid .col-pic-box .pic-box h1, .bootstrap-card-component .container-600 .card-container .container-grid .col-pic-box .pic-box h2 {
  margin: 0;
  font-size: 42px;
}

.bootstrap-card-component .container-600 .nav-tabs {
  background-color: #343a40;
  padding: 10px 0;
  border-bottom: none;
  -webkit-box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.bootstrap-card-component .container-600 .nav-tabs .nav-link {
  border-radius: 15px;
  background-color: #f8f9fa;
  color: #6f42c1;
  padding: 8px 20px;
  margin-left: 10px;
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.2s ease;
  transition: background-color 0.3s ease, -webkit-transform 0.2s ease;
  transition: background-color 0.3s ease, transform 0.2s ease;
  transition: background-color 0.3s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
}

.bootstrap-card-component .container-600 .nav-tabs .nav-link.active {
  background-color: #6f42c1;
  color: #ffffff;
  border-color: #6f42c1;
}

.bootstrap-card-component .container-600 .nav-tabs .nav-link.disabled {
  background-color: #6c757d;
  color: #ffffff;
}

.bootstrap-card-component .container-600 .nav-tabs .nav-link:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.bootstrap-card-component .container-600 #second-tab .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  min-height: 290px;
}

.bootstrap-card-component .container-600 #second-tab .loader-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  color: #343a40;
  font-family: Arial, sans-serif;
}

.bootstrap-card-component .container-600 #second-tab .loader-container .loader {
  width: 50px;
  height: 50px;
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
}

.bootstrap-card-component .container-600 #second-tab .loader-container .loader .loader-path {
  stroke: #343a40;
  stroke-linecap: round;
  -webkit-animation: dash 1.5s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite;
}

.bootstrap-card-component .container-600 #second-tab .loader-container p {
  margin-top: 10px;
  font-size: 16px;
}

.bootstrap-card-component .container-600 #third-tab .row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

.bootstrap-card-component .container-600 #third-tab .container-content-third-tab {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.bootstrap-card-component .container-600 #third-tab p {
  font-weight: 500;
}

.bootstrap-card-component .container-600 #third-tab small {
  color: #6c757d;
}

.bootstrap-card-component .container-600 #third-tab img {
  width: 100%;
  height: 290px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 0 0 15px;
}

.footer {
  width: 600px;
  margin: 0 auto;
  background-color: #343a40;
  padding: 10px 20px;
  border: 1px solid #f8f9fa;
  border-radius: 15px;
  -webkit-box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 768px) {
  .footer {
    width: 100%;
  }
}

.footer p {
  color: #ffffff;
  margin: 0;
}

.bootstrap-card-component.primary {
  color: #343a40;
}

.bootstrap-card-component.primary .nav-tabs .nav-link {
  background-color: #72abfe;
  color: #343a40;
  border: 1px solid #0257d5;
}

.bootstrap-card-component.primary .nav-tabs .nav-link.active {
  background-color: #0257d5;
  color: #ffffff;
  border-color: #0257d5;
}

.bootstrap-card-component.primary .nav-tabs .nav-link.disabled {
  background-color: #d7e7ff;
  color: #6c757d;
}

.bootstrap-card-component.primary .card-container {
  background-color: #0d6efd;
  border: 1px solid #0257d5;
  border-radius: 15px;
}

.bootstrap-card-component.primary .card-container .tab-content .tab-pane h2 {
  color: #343a40;
}

.bootstrap-card-component.primary .card-container .tab-content .tab-pane p {
  color: #6c757d;
}

.bootstrap-card-component.primary .footer {
  background-color: #72abfe;
}

.bootstrap-card-component.primary .footer p,
.bootstrap-card-component.primary .footer small {
  color: #343a40;
}

.bootstrap-card-component.secondary {
  color: #ffffff;
}

.bootstrap-card-component.secondary .nav-tabs .nav-link {
  background-color: #a1a8ae;
  color: #ffffff;
  border: 1px solid #545b62;
}

.bootstrap-card-component.secondary .nav-tabs .nav-link.active {
  background-color: #545b62;
  color: #ffffff;
  border-color: #545b62;
}

.bootstrap-card-component.secondary .nav-tabs .nav-link.disabled {
  background-color: #d8dbdd;
  color: #6c757d;
}

.bootstrap-card-component.secondary .card-container {
  background-color: #6c757d;
  border: 1px solid #545b62;
  border-radius: 15px;
}

.bootstrap-card-component.secondary .card-container .tab-content .tab-pane h2 {
  color: #ffffff;
}

.bootstrap-card-component.secondary .card-container .tab-content .tab-pane p {
  color: #ffffff;
}

.bootstrap-card-component.secondary .footer {
  background-color: #a1a8ae;
}

.bootstrap-card-component.secondary .footer p,
.bootstrap-card-component.secondary .footer small {
  color: #ffffff;
}

.bootstrap-card-component.success {
  color: #ffffff;
}

.bootstrap-card-component.success .nav-tabs .nav-link {
  background-color: #2ed889;
  color: #ffffff;
  border: 1px solid #115c39;
}

.bootstrap-card-component.success .nav-tabs .nav-link.active {
  background-color: #115c39;
  color: #ffffff;
  border-color: #115c39;
}

.bootstrap-card-component.success .nav-tabs .nav-link.disabled {
  background-color: #84e8ba;
  color: #6c757d;
}

.bootstrap-card-component.success .card-container {
  background-color: #198754;
  border: 1px solid #115c39;
  border-radius: 15px;
}

.bootstrap-card-component.success .card-container .tab-content .tab-pane h2 {
  color: #ffffff;
}

.bootstrap-card-component.success .card-container .tab-content .tab-pane p {
  color: #ffffff;
}

.bootstrap-card-component.success .footer {
  background-color: #2ed889;
}

.bootstrap-card-component.success .footer p,
.bootstrap-card-component.success .footer small {
  color: #ffffff;
}

.bootstrap-card-component.danger {
  color: #343a40;
}

.bootstrap-card-component.danger .nav-tabs .nav-link {
  background-color: #eb8c95;
  color: #343a40;
  border: 1px solid #bd2130;
}

.bootstrap-card-component.danger .nav-tabs .nav-link.active {
  background-color: #bd2130;
  color: #ffffff;
  border-color: #bd2130;
}

.bootstrap-card-component.danger .nav-tabs .nav-link.disabled {
  background-color: #fae3e5;
  color: #6c757d;
}

.bootstrap-card-component.danger .card-container {
  background-color: #dc3545;
  border: 1px solid #bd2130;
  border-radius: 15px;
}

.bootstrap-card-component.danger .card-container .tab-content .tab-pane h2 {
  color: #343a40;
}

.bootstrap-card-component.danger .card-container .tab-content .tab-pane p {
  color: #6c757d;
}

.bootstrap-card-component.danger .footer {
  background-color: #eb8c95;
}

.bootstrap-card-component.danger .footer p,
.bootstrap-card-component.danger .footer small {
  color: #343a40;
}

.bootstrap-card-component.warning {
  color: #343a40;
}

.bootstrap-card-component.warning .nav-tabs .nav-link {
  background-color: #ffdb6d;
  color: #343a40;
  border: 1px solid #d39e00;
}

.bootstrap-card-component.warning .nav-tabs .nav-link.active {
  background-color: #d39e00;
  color: #ffffff;
  border-color: #d39e00;
}

.bootstrap-card-component.warning .nav-tabs .nav-link.disabled {
  background-color: #fff4d3;
  color: #6c757d;
}

.bootstrap-card-component.warning .card-container {
  background-color: #ffc107;
  border: 1px solid #d39e00;
  border-radius: 15px;
}

.bootstrap-card-component.warning .card-container .tab-content .tab-pane h2 {
  color: #343a40;
}

.bootstrap-card-component.warning .card-container .tab-content .tab-pane p {
  color: #6c757d;
}

.bootstrap-card-component.warning .footer {
  background-color: #ffdb6d;
}

.bootstrap-card-component.warning .footer p,
.bootstrap-card-component.warning .footer small {
  color: #343a40;
}

.bootstrap-card-component.info {
  color: #ffffff;
}

.bootstrap-card-component.info .nav-tabs .nav-link {
  background-color: #6ce0f7;
  color: #ffffff;
  border: 1px solid #0aa1c0;
}

.bootstrap-card-component.info .nav-tabs .nav-link.active {
  background-color: #0aa1c0;
  color: #ffffff;
  border-color: #0aa1c0;
}

.bootstrap-card-component.info .nav-tabs .nav-link.disabled {
  background-color: #cdf4fc;
  color: #6c757d;
}

.bootstrap-card-component.info .card-container {
  background-color: #0dcaf0;
  border: 1px solid #0aa1c0;
  border-radius: 15px;
}

.bootstrap-card-component.info .card-container .tab-content .tab-pane h2 {
  color: #ffffff;
}

.bootstrap-card-component.info .card-container .tab-content .tab-pane p {
  color: #ffffff;
}

.bootstrap-card-component.info .footer {
  background-color: #6ce0f7;
}

.bootstrap-card-component.info .footer p,
.bootstrap-card-component.info .footer small {
  color: #ffffff;
}

.bootstrap-card-component.light {
  color: #343a40;
}

.bootstrap-card-component.light .nav-tabs .nav-link {
  background-color: white;
  color: #343a40;
  border: 1px solid #dae0e5;
}

.bootstrap-card-component.light .nav-tabs .nav-link.active {
  background-color: #dae0e5;
  color: #ffffff;
  border-color: #dae0e5;
}

.bootstrap-card-component.light .nav-tabs .nav-link.disabled {
  background-color: white;
  color: #6c757d;
}

.bootstrap-card-component.light .card-container {
  background-color: #f8f9fa;
  border: 1px solid #dae0e5;
  border-radius: 15px;
}

.bootstrap-card-component.light .card-container .tab-content .tab-pane h2 {
  color: #343a40;
}

.bootstrap-card-component.light .card-container .tab-content .tab-pane p {
  color: #6c757d;
}

.bootstrap-card-component.light .footer {
  background-color: white;
}

.bootstrap-card-component.light .footer p,
.bootstrap-card-component.light .footer small {
  color: #343a40;
}

.bootstrap-card-component.dark {
  color: #ffffff;
}

.bootstrap-card-component.dark .nav-tabs .nav-link {
  background-color: #4e5862;
  color: #ffffff;
  border: 1px solid #0a0c0d;
}

.bootstrap-card-component.dark .nav-tabs .nav-link.active {
  background-color: #0a0c0d;
  color: #ffffff;
  border-color: #0a0c0d;
}

.bootstrap-card-component.dark .nav-tabs .nav-link.disabled {
  background-color: #7e8b98;
  color: #6c757d;
}

.bootstrap-card-component.dark .card-container {
  background-color: #212529;
  border: 1px solid #0a0c0d;
  border-radius: 15px;
}

.bootstrap-card-component.dark .card-container .tab-content .tab-pane h2 {
  color: #ffffff;
}

.bootstrap-card-component.dark .card-container .tab-content .tab-pane p {
  color: #ffffff;
}

.bootstrap-card-component.dark .footer {
  background-color: #4e5862;
}

.bootstrap-card-component.dark .footer p,
.bootstrap-card-component.dark .footer small {
  color: #ffffff;
}

.bootstrap-card-component .container-600 {
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .bootstrap-card-component .container-600 {
    max-width: 100%;
  }
}

.bootstrap-card-component .nav-tabs {
  border-bottom: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bootstrap-card-component .nav-tabs .nav-link {
  padding: 10px 20px;
  border-radius: 0;
  margin-right: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bootstrap-card-component .footer {
  padding: 10px 20px;
  text-align: center;
}

.bootstrap-card-component .footer p {
  margin: 0;
}

.bootstrap-card-component .footer small {
  font-size: 0.9rem;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
/*# sourceMappingURL=style.css.map */