// Colors
$c-dark-gray: var(--bs-gray-dark);
$c-medium-gray: var(--bs-gray);
$c-light-gray: var(--bs-light);
$c-purple: var(--bs-purple);
$c-white: var(--bs-white);
$c-black: var(--bs-dark);
$c-blue: var(--bs-blue);
$c-yellow: var(--bs-yellow);
$c-border-color: var(--bs-list-group-border-color);

.bootstrap-card-component {
  .container-600 {
    max-width: 600px;
    margin: 0 auto;
    padding: 0;

    @media only screen and (max-width: 768px) {
      max-width: 100%;
    }

    .card-container {
      border-radius: 0;
      border-bottom: none;
      min-height: 290px;

      .container-grid {
        .width-100 {
          width: 100%;
          padding: 20px;
        }

        .row {
          display: flex;
          width: 100%;
          align-items: stretch;
          --bs-gutter-x: 0;
          --bs-gutter-y: 0;
        }

        ul.list-group {
          flex-grow: 1;
          border-top: 1px solid $c-border-color;
        }

        .list-group-item {
          padding: 20px;

          .nav-link {
            color: $c-purple;
            padding: 0;

            &.active{
              color: $c-dark-gray;
            }
          }
        }

        .tab-content{
          display: flex;
          flex-direction: column;
          height: 100%;
        }

        .col-pic-box {
          height: 100%;
          position: relative;

          @media only screen and (max-width: 768px) {
            height: 200px;
          }

          .tab-pane{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: opacity 0.3s ease-in-out;
    
            &.fade {
              opacity: 0;
              z-index: 1;
            }

            &.active {
              z-index: 2;
              opacity: 1;
            }
          }

          #tab-first-item{
            background-color: $c-blue;
          }

          #tab-second-item{
            background-color: $c-yellow;
            h2{
              color: $c-black;
            }
          }

          #tab-third-item{
            background-color: $c-black;
          }

          .pic-box {
            color: $c-white;
            font-size: 1.5rem;
            font-weight: bold;

            h1, h2 {
              margin: 0;
              font-size: 42px;
            }
          }
        }
      }
    }

    .nav-tabs {
      background-color: $c-dark-gray;
      padding-top: 10px;
      border-bottom: none;

      .nav-link {
        border-radius: 0;
        background-color: $c-light-gray;
        color: $c-purple;
        padding: 8px 20px;
        margin-left: 10px;

        &.disabled {
          background-color: $c-medium-gray;
          color: $c-white;
        }
      }

      li:first-child .nav-link {
        background-color: $c-white;
        color: $c-medium-gray;
        margin-left: 10px;
      }
    }

    #second-tab{
      .card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        min-height: 290px;
      } 
      
      .loader-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        color: $c-dark-gray;
        font-family: Arial, sans-serif;
      
        .loader {
          width: 50px;
          height: 50px;
          animation: rotate 2s linear infinite;
      
          .loader-path {
            stroke: $c-dark-gray;
            stroke-linecap: round;
            animation: dash 1.5s ease-in-out infinite;
          }
        }
      
        p {
          margin-top: 10px;
          font-size: 16px;
        }
      }
    }

    #third-tab{
      .row{
        --bs-gutter-x: 0;
        --bs-gutter-y: 0;
      }

      .container-content-third-tab{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
      }

      p{
        font-weight: 500;
      }

      small{
        color: $c-medium-gray;
      }

      img{
        width: 100%;
        height: 290px;
        object-fit: cover;
      }
    }
  }
}

.footer {
  width: 600px;
  margin: 0 auto;
  background-color: $c-dark-gray;
  padding: 10px 20px;
  border: 1px solid $c-light-gray;
  border-top: none;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }

  p {
    color: $c-white;
    margin: 0;
  }
}

// Animation to rotate the SVG
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

// Animation to create the loading effect
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
